name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          base: header, activity, community, repositories, metadata

          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_contributors: yes
          plugin_lines: yes
          plugin_achievements: yes
          plugin_traffic: yes
          plugin_3d: yes
          plugin_radar: yes
          plugin_topics: yes
