name: GitHub-Profile-3D-Contrib-fixed

on:
  schedule:           # runs once a day
    - cron: "0 18 * * *"
  workflow_dispatch:  # allow manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v3

      - uses: gumbobrot/github-profile-3d-contrib@0.7.2
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          USERNAME: ${{ github.repository_owner }}

      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore: update 3d profile contributions" || echo "No changes to commit"
          git push
